$dark-slate-gray: #303C6C;
$white: #fff;
$dim-gray: #575353;
$gray:#4d4b4b;
$black: #16171C;

.wrapperTwo {
    display: flex;
    align-items: flex-start;
    margin-top: 1.6rem;
  }
  .searchComponent {
    background-color: $dark-slate-gray;
    border-radius: 6px;
    padding: 3px 9px;
    display: flex;
    align-items: center;
    z-index: 3;
  }
  .jobSearchInput {
    background-color: $white;
    padding: 9px 12px;
    display: flex;
    border-radius: 2px;
  }

  
  .vector {
    width:auto;
    height: 22px;
  }
  .jobTitleOrKeyword {
    font-size: 18px;
    font-weight: 300;
    border: none;
    outline: none;
    color: $gray;
    margin-left: 18px;
  }
  .line1 {
    width: 2px;
    height: 44px;
    background-color: $dim-gray;
    margin: 0 6px;
  }
  .lOcationSeachInput {
    background-color: $white;
    padding: 9px 12px;
    display: flex;
    border-radius: 2px;
  }
  
  .group {
    width: auto;
    height: 22px;
  }
  .location {
    font-size: 18px;
    font-weight: 300;
    border: none;
    outline: none;
    color: $gray;
    margin-left: 18px;
  }
  .searchBtn {
    background-color: $white;
    border-radius: 32px;
    padding: 7px 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 12px;
  }
  .searchBtn:hover {
    opacity: .88;
  }
  .search {
    font-family: "Poppins";
    font-size: 21px;
    font-weight: 700;
    color: $dark-slate-gray;
  }