.addContainer {
    background-color: rgb(207, 204, 250);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
        font-size: 2rem;
        font-weight: 800;
    }
}