@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
// *{
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   font-family: 'Poppins', sans-serif;
// }
.main{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ced4e4;

  .wrapper{
    position: relative;
    max-width: 60%;
    width: 100%;
    background: #fff;
    padding: 20px 32px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    margin-top: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .formContainer {
      width: 50%;
    }

    h2{
      position: relative;
      font-size: 26px;
      font-weight: 600;
      color: #303c6c;
    }

    // h2::before{
    //   content: '';
    //   position: absolute;
    //   left: 0;
    //   bottom: 0;
    //   height: 3px;
    //   width: 28px;
    //   border-radius: 12px;
    //   background: #4358aa;
    // }

    form{
      margin-top: 30px;

      .text h3{
        color: #333;
        width: 100%;
        text-align: center;

        a{
          color: #4070f4;
          text-decoration: none;

          :hover{
            text-decoration: underline;
          }
        }
       }

      .inputbox.button input{
        color: #fff;
        letter-spacing: 1px;
        border: none;
        background: #303c6c;
        cursor: pointer;

        
      }
      .inputbox.button input:hover{
        background: #4358aa
      }

      .inputbox{
        height: 48px;
        margin: 16px 0;

        input{
          height: 100%;
          width: 100%;
          outline: none;
          padding: 0 15px;
          font-size: 15px;
          font-weight: 400;
          color: #333;
          border: 1.5px solid #C7BEBE;
          border-bottom-width: 2.5px;
          border-radius: 6px;
          transition: all 0.3s ease;

          :valid{
            border-color: #4070f4;
          }
          :focus{
            border-color: #4070f4;
          }
        }
      }

      .policy{
        display: flex;
        align-items: center;
      }

      h3{
        color: #707070;
        font-size: 14px;
        font-weight: 500;
        margin-left: 10px;
      }
    }
  }
}

.profile {
  width: 44%;
  margin-top: 9%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 9px 16px;
  border: 1px rgba(163, 158, 158, 0.658) solid;
  border-radius: 4px;

  input {
    align-items: center;
  }
}

.imageContainer {
  height:136px;
  width:136px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: contain;
}
.uploadContainer {
  input {
    margin-left: 16%;
  }
  h3 {
    color: #303c6c;
    margin-bottom: 10px;
  }
}

.uploadButton {
  padding:10px 9px;
  background-color: #303c6c;
  color: #fff;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 15px;
  margin: 6% 0;
}