$dark-slate-gray:#303C6C;
$transparent-dark-slate-gray:#bdbbc4;
$white:#fff;
$midnight-blue:#102048;

.section1 {
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .sectionHeading{
    font-size: 40px;
    font-weight: 600;
    color: $midnight-blue;
    margin-bottom: 36px;
  }
  .flexWrapperOne {
    background-color: $dark-slate-gray;
    width: 1200px;
    margin: 0 auto;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 42px;
    gap: 36px;
  }
  .flexWrapperTwo {
    display: flex;
    gap: 12rem;
    justify-content: space-between;
  }
  .getAJobYouWantIn3SimpleSteps {
    font-size: 36px;
    font-weight: 600;
    color: $white;
  }
  .jobSeekerRegister {
    background-color: $white;
    border-radius: 17px;
    // box-shadow: 0 5px 10px 0 $transparent-dark-slate-gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    justify-self: flex-end;
    backdrop-filter: blur(10.51px);
    padding: 12px 26px;

  }
  
  .relativeWrapperOne {
    position: relative;
  }
  .bxupload {
    width: 36px;
    height: auto;
  }
//   .frame28 {
//     position: relative;
//   }
  .register {
    font-size: 24px;
    font-weight: 700;
    color: $midnight-blue;
  }
  .flexWrapperThree {
    display: flex;
    align-items: center;
  }
  .num1CreateAccount {
    font-size: 28px;
    font-weight: 700;
    color: $white;
  }
  .image3 {
    width: 6%;
    align-self: stretch;
    object-fit: cover;
    margin: 0 18px;

  }
  .num2UploadDetails {
    font-size: 28px;
    font-weight: 700;
    color: $white;
  }
  .image4 {
    width: 6%;
    align-self: stretch;
    object-fit: cover;
    margin: 0 18px;
  }
  .num3GetYourDreamJob {
    font-size: 28px;
    font-weight: 700;
    color: $white;
  }